.DS_Store
CCC-TV.xcodeproj/project.xcworkspace/xcuserdata
CCC-TV.xcodeproj/xcuserdata
Build
CCC-TV/CCCtv.xcodeproj/xcuserdata
CCC-TV/CCCtv.xcodeproj/project.xcworkspace/xcuserdata
CCC-TV.xcworkspace/xcuserdata
CCC-TV/Cartfile.resolved
CCC-TV/Carthage
